#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_peershares
#build/peersharesd::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_peershares)

DEB_INSTALL_EXAMPLES_peershares += debian/examples/*
DEB_INSTALL_MANPAGES_peershares += debian/manpages/*

%:
	dh $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix peersharesd
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f peershares-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake peershares-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_peershares
	src/test_peershares

# Ensure wrapper is set executable
binary-post-install/peersharesd:
	chmod +x $(cdbs_curdestdir)usr/bin/peersharesd
binary-post-install/peershares-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/peershares-qt
