[Unit]
Description=Sprouts daemon - tor
After=network.target
Wants=tor.service
Conflicts=sproutsd@%i.service

[Service]
User=%i
Group=users
PermissionsStartOnly=true
Type=forking
Restart=always
RestartSec=15
ExecStart=/usr/bin/sproutsd -daemon -proxy=127.0.0.1:9050
TimeoutStopSec=60s
TimeoutStartSec=2s

## security
PrivateTmp=true
PrivateDevices=true
ProtectSystem=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
